
.grid{

    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
h1{
    color:black;
    border:solid;

}
body{
    background-color: orange;
}
.header{
background-color: yellow;
margin:0px;
}
.fact{
    background-color:#4379ff;
}
.menu{
    display:flex;
    justify-content: space-evenly;
    background-color: #ffff00;
    padding:15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color:#ffffff;

}
.grid img{

    border:2px solid #75ef27;
}